<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/MDB/css/mdb.min.css' %}">

    <!-- jQuery library -->

    <link rel="stylesheet" href="{% static 'customer/css/subcript.css'%}">

    <title>اشتراک</title>
</head>

<body  class="bo" style="font-family: Shabnam;">


<div class="container" style="padding-left: 15px;padding-right: 15px;margin-left: auto;margin-right: auto;margin-top: 10px">
<div class="row" style="display: flex;flex-wrap: wrap">
 <div class="card card card-cascade narrower" style="text-align: right;direction: rtl;justify-content: center;">
            <h1 class="view view-cascade overlay card-header ripe-malinka-gradient  white-text  py-4" style="padding-top: 0%">

                <div class="text-center" style="padding-top: 0%;">
                    <strong> اشتراک </strong>
                </div>
            </h1>


<div class="card-body  card-body-cascade">
                <form class="col xl12 l12 m12 s12" method="post" enctype="multipart/form-data">
                    {% csrf_token %}


                    <div class="row">

                        <div class="col-sm-12 col-md-12 col-lg-12  col-xl-12">
                            <div class="md-form">
                                {{ form.sub_name }}
                                <label ><i class="fa fa-user" aria-hidden="true"></i> نام</label>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12  col-xl-12">
                            <div class="md-form" >
                                {{ form.sub_lastName }}
                                <label><i class="fa fa-user" aria-hidden="true"></i> نام خانوادگی </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12  col-xl-12">
                            <div class="md-form">
                                    {{ form.sub_birthDate }}
                                    <label ><i class="fa fa-calendar" aria-hidden="true"></i> تاریخ تولد </label>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-12 col-lg-12  col-xl-12">
                            <div class="md-form">
                                {{ form.sub_address }}
                                <label> <i class="fa fa-home" aria-hidden="true"></i> ادرس </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12  col-xl-12">
                            <div class="md-form">
                                {{ form.sub_phone }}
                                <label> <i class="fa fa-phone" aria-hidden="true"></i> تلفن </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12  col-xl-12">
                            <div class="md-form">
                                {{ form.sub_mobile_phone }}
                                <label> <i class="fa fa-mobile" aria-hidden="true"></i> تلفن همراه </label>
                            </div>
                        </div>
                    </div>
                    <input type='hidden' name='pk' value="{{ chosen_object.pk }}">
                    <div class="row " style="display: flex; justify-content: center">
                        <button type="submit" class="btn ripe-malinka-gradient btn-md" name="subscript" value="save" style="border-radius: 10px;color: white">ثبت</button>
                    </div>

                </form>

            </div>
 </div>
</div>
</div>

</body>

<script type="text/javascript" src="{% static 'assets/MDB/js/jquery-3.4.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/MDB/js/popper.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'assets/materialize/js/materialize.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'assets/MDB/js/mdb.min.js' %}"></script>

<script>
    document.getElementById("id_sub_name").setAttribute("class","form-control");
    document.getElementById("id_sub_lastName").setAttribute("class","form-control");
    document.getElementById("id_sub_birthDate").setAttribute("class","form-control");
    document.getElementById("id_sub_address").setAttribute("class","form-control");
    document.getElementById("id_sub_phone").setAttribute("class","form-control");
    document.getElementById("id_sub_mobile_phone").setAttribute("class","form-control");

</script>