{% block content %}

{% if messages %}
{% for message in messages %}
            <p>{{message|safe}}</p>
{% endfor %}
{% endif %}

<form method="post">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }} {{form.username.errors}}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }} {{form.password.errors}}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}
