{% load staticfiles %}
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="{% static 'assets/MDB/js/jquery-3.4.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'Kitchen/css/tables.css' %}">
    <script src="{% static 'Kitchen/js/script.js' %}" type="text/javascript"></script>

</head>
<header class="top_header topnav">
    <div class="nav_items">
        <a class="l1" href="{% url 'kitchen:TableState_list' %}">آشپزخانه</a>
        <a class="l2" href="{% url 'restaurant_admin:admin_home' %}">مدیریت</a>
    </div>
</header>


<div class="parent-container ">
    <div style="float: left ; width: 100%">


        <div class="card-deck  col-sm-12">

            {% for table in object_list %}
                <div class="row">
                    <div id="myCard" class="card " {% if table.status == "OR" %}style="background-color: darkgray"
                         {% else %}style="background-color: darkgray"{% endif %}>
                        <div class="card-body text-center ">
                            {{ table.status }}
                            <p class="tb">
                                میز شماره{{ table.table_number }}
                            </p>

                            {#        {% for t in table.OrderList_Table.all %}#}
                            {#            <p style="text-align: right; ">#}
                            {#            {% if t.status == "OR"%}#}
                            {#                ordered:وضعیت سفارش#}
                            {#            {% elif t.status == "NO" %}#}
                            {#                not ordered:وضعیت سفارش#}
                            {#            {% elif t.status == "CH" %}#}
                            {#                changed:وضعیت سفارش#}
                            {#            {% elif t.status == "PR" %}#}
                            {#                preparing:وضعیت سفارش#}
                            {#            {% elif t.status == "RE" %}#}
                            {#                ready:وضعیت سفارش#}
                            {#            {% elif t.status == "DE" %}#}
                            {#                delivered:وضعیت سفارش#}
                            {#            {% endif %}#}
                            {#            </p>#}
                            {#            {% endfor %}#}

                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="table_id" value="{{ table.pk }}">
                                <p><input type="submit" value="نمایش سفارش"></p>
                            </form>
                        </div>
                    </div>
                </div>

            {% empty %}
                <li>No Table yet.</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% if chosen_object %}
        {% if not chosen_object.table_availability %}

            <div class="orl">
                <p class="tor text-center">لیست سفارشات</p>

                {% for orderl in chosen_object.OrderList_Table.all %}
                    <div class="ors">
                        {% for order in orderl.FoodOrder_list.all %}

                            <p class="p1">نام غذا:{{ order.food.food_name }}</p>
                            <p class="p2">تعداد: {{ order.number }}</p>
                            <p class="p3">جزئیات:{{ orderl.details }}</p>

                        {% empty %}
                            <li>No order yet</li>
                        {% endfor %}
                        {% if orderl.status == "OR" %}
                            <button class="center or1">آماده سازی غذا</button>
                        {% elif orderl.status == "CH" %}
                            <button class="center or2">آماده سازی غذا</button>
                        {% elif orderl.status == "RE" %}
                            <button class="center or3">اعلام آمادگی غذا</button>
                        {% endif %}
                    </div>
                {% empty %}
                    <li>No orderlist yet</li>
                {% endfor %}

            </div>
        {% endif %}
    {% endif %}
</div>

<script src="{% static 'assets/MDB/js/jquery-3.4.0.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/MDB/js/popper.min.js' %}"></script>
<script src="{% static 'assets/MDB/js/mdb.min.js' %}"></script>
