@font-face {
font-family: Shabnam;
src: url('../../assets/fonts/shabnam/Farsi-Digits/Shabnam-FD.eot');
src: url('../../assets/fonts/shabnam/Farsi-Digits/Shabnam-FD.eot?#iefix') format('embedded-opentype'),
     url('../../assets/fonts/shabnam/Farsi-Digits/Shabnam-FD.woff') format('woff'),
     url('../../assets/fonts/shabnam/Farsi-Digits/Shabnam-FD.ttf') format('truetype');
font-weight: normal;
}

@font-face {
font-family: Shabnam;
src: url('../../assets/fonts/shabnam/Farsi-Digits/Shabnam-Bold-FD.eot');
src: url('../../assets/fonts/shabnam/Farsi-Digits/Shabnam-Bold-FD?#iefix') format('embedded-opentype'),
     url('../../assets/fonts/shabnam/Farsi-Digits/Shabnam-Bold-FD.woff') format('woff'),
     url('../../assets/fonts/shabnam/Farsi-Digits/Shabnam-Bold-FD.ttf') format('truetype');
font-weight: bold;
}

@font-face {
font-family: Shabnam;
src: url('../../assets/fonts/shabnam/Farsi-Digits/Shabnam-Light-FD.eot');
src: url('../../assets/fonts/shabnam/Farsi-Digits/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),
     url('../../assets/fonts/shabnam/Farsi-Digits/Shabnam-Light-FD.woff') format('woff'),
     url('../../assets/fonts/shabnam/Farsi-Digits/Shabnam-Light-FD.ttf') format('truetype');
}
/* about header */

.top_header,
.fixed_footer {
  flex-shrink: 0;
}

.fixed_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#f50057;
  color:white;
  padding: 10px 16px;
}
body {
  background-color:#fce4ec ;
  background-image: url(../../../media/simple-fast-food-background_7457-34.jpg);
  margin: 0;
  padding: 0;

  font-family: shabnam;
}

html,
body {
  height: 100%;
}
.top-bar{
  text-align: right;
}
.top_header {
  flex-shrink: 0;
}

.main_content {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x:hidden; 
}

.topnav {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
}

/* [5] */
.topnav::-webkit-scrollbar {
  display: none;
}

.topnav {
  padding: 12px 16px;
  direction: rtl;
  text-align: center;
  background: #f50057;
  opacity: 60%;
  color: white;
  /* overflow: hidden; */
}

.topnav a {
  font-family: shabnam;
  direction: rtl;
  /* float: none; */
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background: #ff80ab;
  color: white;
}

html,
body {
  height: 100%;
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
}

.top_header {
  flex-shrink: 0;
}


#minus{
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 35px;
  height: 35px;
    background: hsla(356, 100%, 51%, 0.4);
     color: #555;
    /* border: 1px solid #223445; */
    border-radius: 50%;
    /* -moz-border-radius: 5px */
    display:inline-block;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
       cursor: pointer;
    /* -webkit-border-radius: 5px; */
}
#minus:hover{
   background: hsla(0, 100%, 50%, 0.8);
    color:#f1f7fc;
}
#plus{
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
background: hsla(120,100%,50%,0.3);
  width: 35px;
  height: 35px;
  color: #555;
 border-radius: 50%;
    cursor: pointer;
 display:inline-block;
 padding: 0px;
 text-align: center;
 text-decoration: none;
 margin: 4px 2px;

}
#plus:hover{
  background: hsla(120, 100%, 38%, 0.8);
   color:#f1f7fc;
}
@media screen and (max-width: 600px) {

}
